<!doctype html>
<html>
    <head>
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
              integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
              rel="stylesheet">

        <link  href="{{ url_for('static', filename='css/style-aboutme.css')}}" type= "text/css"
              rel="stylesheet">

        <title> {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('homepage')}}">Andrew Grant</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('aboutme')}}">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('projects')}}">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('resume')}}">Resume</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contactinfo')}}" >Contact Me</a>
                </li>

              </ul>
            </div>
          </div>
        </nav>

        <br/>
        {% block content %}
        {% endblock %}

    <script crossorigin="anonymous"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    </body>


