{% extends "base.html" %}

{% block title %}
    Andrew Grant's Portfolio
    {% endblock %}


{% block content %}

<div class="container">
        <h1>Thank you for your submission. I will respond as quickly as possible.</h1>

</div>


<div class="container">

    <p class="form-resp-head"> The below message was submitted:</p>
    <br/>
    <p class="form-confirm"> Name: First-Name Last-Name </p>
    <p class="form-confirm"> Email Address: Email-Address </p>
     <p class="form-confirm"> Message: message </p>



</div>
{% endblock %}




http://localhost:1337/{{article.card_image.url}}

article_1['card_image']['url']
